.button
  padding: 13px 20px
  font-size: 0.94rem
  line-height: 1.071rem
  border: none
  border-radius: 2px
  text-transform: uppercase
  text-align: center
  &:hover
    cursor: pointer
  &--primary
    background-color: $primary
    color: $white
    box-shadow: 0px 5px 15px rgba($primary, 0.3)
    transition: box-shadow 0.3s
    &:hover
      box-shadow: none
  &--outline
    border: 1px solid $white
    background-color: transparent
    color: $white
    transition: box-shadow 0.3s
    &:hover
      box-shadow: 0px 5px 15px rgba($white, 0.5)
    

.section
  &-title
    font-family: 'Yeseva One', cursive
    text-align: center
    text-transform: uppercase
    &--left
      text-align: left
    &--light
      color: $white
    &__heading
      margin-bottom: 0.857rem
      line-height: 138.6%
      &--primary
        margin-top: 0
        margin-bottom: 1.429rem
        font-size: 1.929rem
        line-height: 2.673rem
        letter-spacing: -0.07em
        color: $primary
    &__word
      display: flex
      align-items: center
      &::after
        content: ''
        width: 90px
        height: 1px
        background-color: $primary
        margin-left: 33px
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::before, &::after
        content: ''
        width: 32px
        height: 2px
        margin: 0 10px
        background-color: $primary
        border-radius: 30px
  &--dark
    background-color: $dark
    background-image: url('../img/main-bg-lines.svg') 
    color: $white
  &-text
    font-family: 'Futura Book', sans-serif
    font-size: 20px
    line-height: 27px 
    text-align: center
    text-transform: none
    &--left
      justify-content: start
      text-align: left

.card
  &-image
    text-align: center
  &-text
    background-color: $white
    box-shadow: 10px 10px 20px rgba($dark, 0.03)
  &-title
    font-family: 'Yeseva One', cursive
    font-size: 1.286rem
    line-height: 1.986rem
    color: $dark
  &-subtitle
    display: block
    font-size: 18px
    line-height: 26px
    text-align: center
    color: $secondary
  &-list
    font-family: 'Futura Book', sans-serif
    font-size: 1.071rem
    line-height: 1.786rem
    color: $secondary
  &-pricetag
    font-family: 'Yeseva One', cursive
    font-size: 1.286rem
    line-height: 1.786rem
    text-transform: uppercase
    text-align: center
    color: $white
    background-color: $primary
    box-shadow: 0px 5px 15px rgba($primary, 0.3)
  &-description

.label
  font-size: 1.071rem
  line-height: 1.429rem
  &--light
    color: rgba($white, 0.5)
  &--dark
    color: rgba($secondary-300, 0.5)
.input
  width: 100%
  padding: 0.571rem 0
  font-size: 1.285rem
  color: $white
  background-color: transparent
  border: none
  border-bottom: 1px solid rgba($white, 0.15)
  &--light
    &::placeholder
      color: $white
  &--dark
    &::placeholder
      color: $secondary-300

.policy
  &__checkbox
    opacity: 0
    visibility: hidden
    &:checked +
      .policy__label
        &::before
          background: $primary url('../img/checked.svg') no-repeat center / 0.8rem
  &__label
    display: flex
    align-items: center
    font-size: 1.143rem
    line-height: 1.571rem
    &--dark
      color: $secondary-100
    &--center
      justify-content: center
    &::before
      content: ''
      width: 18px
      height: 18px
      border: 1px solid $primary
      border-radius: 1px
      cursor: pointer
      margin-right: 0.571rem
      

.button-up
  position: fixed
  right: 0
  bottom: 0
  z-index: 3
  display: none
  margin-right: 100px
  margin-bottom: 40px
  width: 100px
  height: 100px
  border: 5px solid $primary
  border-radius: 50%
  background: transparent url('../img/arrow-down.svg') no-repeat center / 2.5rem
  transform: rotate(180deg)
  &:hover
    cursor: pointer


.invalid
    color: $error
input
  &.invalid
    border-bottom: 1px solid $error


