@media screen and ( max-width: 1280px )
  html
    font-size: 12px

@media screen and ( max-width: 1200px )
  .navigation
    &__item
      margin-right: 1.5rem

@media screen and ( max-width: 992px )
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .navigation
    display: none

@media screen and ( max-width: 950px )
  .types
  &__section-title
    margin-bottom: 5rem
    font-size: 22px
    line-height: 138.6%
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 4.286rem
  .card
    &__text
      margin-left: 0
    &__list
      line-height: 22px
      margin-bottom: 30px
    &__pricetag
      padding: 10px 30px
  .design
    &__section-title
      font-size: 15px
    &__card
      margin-bottom: 4.286rem

@media screen and ( max-width: 576px )
  .logo
    font-size: 13px
    line-height: 14px
  .contacts
    &__phone
      margin-right: 0
      font-size: 12px
      line-height: 14px
      color: $white
      text-decoration: none
    &__button
      display: none
  .hero
    &__title
      max-width: 375px
      font-size: 1.643rem
      line-height: 1.786rem
    &__text
      max-width: 321px
      font-size: 18px
      line-height: 135%
      margin-bottom: 2.986rem
    &__scroll-down
      display: none
    &__button
      display: block
      min-width: 339px
      padding: 19px 71px
      margin-bottom: 2.1rem
  .types
    &__section-title
      margin-bottom: 40px
  .card
    &__text
      max-width: 260px
      margin-top: -123px
      padding: 20px 40px 18px 20px
    &__title
      font-size: 15px
    &__pricetag
      min-width: 190px
      &--align
        padding-left: 44px
  .design
    &__section-text
      margin-bottom: 13px
      font-size: 15px
      line-height: 153%



@media screen and ( max-height: 580px )  
  .hero
    &__scroll-down
      display: none
  