@media screen and ( max-width: 1280px )
  html
    font-size: 12px

@media screen and ( max-width: 1200px )
  .navigation
    &__item
      margin-right: 1.5rem

@media screen and ( max-width: 992px )
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .navigation
    display: none

@media screen and ( max-width: 950px )
  .row
    flex-direction: column
    align-items: center
  .col-50
    &__second
      width: 100%
  .projects
    &__col-50
      margin-bottom: 32px
  .types
    &__section
      &-title
        margin-bottom: 5rem
        font-size: 22px
        line-height: 138.6%
    &__card
      margin-bottom: 4.286rem
      &-text
        margin-left: 0
      &-list
        line-height: 22px
        margin-bottom: 30px
      &-pricetag
        padding: 10px 30px
  .design
    &__section
      &-title
        font-size: 15px
    &__card
      margin-bottom: 4.286rem
      &-text
        margin-left: 0
      &-list
        line-height: 22px
        margin-bottom: 30px
      &-pricetag
        padding: 10px 30px
  .team
    &__card
      &::before
        top: -35px
        left: -35px
  

@media screen and ( max-width: 690px )
  .control
    &__video
      margin-bottom: 28px
    &__text
      font-size: 14px
      line-height: 169.8%
      &::before
        margin-bottom: 21px
    &__form
      flex-direction: column
    &__input-group
      flex-basis: 100%
      width: 65%
      margin-bottom: 63px
    &__policy
      margin-top: 0
      margin-left: 0
      margin-bottom: 62px
    &__button
      align-self: center
      order: 1
  .footer
    &__title
      font-size: 20px
      line-height: 28px
      margin-bottom: 52px
    &__wrap
      margin-top: 0
      background: $dark
    &__form
      flex-direction: column
    &__input
      font-size: 18px
      line-height: 19px
      &-group
        margin-bottom: 66px
        &--full
          &-width
            margin-bottom: 5px
    &__policy
      margin-bottom: 67px
    
    


@media screen and ( max-width: 576px )
  .container
    width: 90%
  .section
    &-title
      &__heading
        font-size: 22px
        line-height: 160.6%
        margin-top: 0px
        margin-bottom: 14px
        &--primary
          font-size: 22px
          line-height: 138.6%
          margin-bottom: 22px
      &__word
        &::after
          display: none
      &__text
        max-width: 305px
        margin-bottom: 32px
        font-size: 14px
        ine-height: 158.48%
    &--dark
      background-image: none
  .header
    background: $mobile-bg
  .logo
    font-size: 13px
    line-height: 14px
  .contacts
    &__phone
      margin-right: 0
      font-size: 12px
      line-height: 14px
      color: $white
      text-decoration: none
    &__button
      display: none
  .hero
    &::after
      display: none
    &__title
      max-width: 320px
      margin-top: 0
      margin-bottom: 16px
      font-size: 23px
      line-height: 132.83%
    &__text
      max-width: 321px
      margin-bottom: 32px
      margin-top: 0
      font-size: 18px
      line-height: 135.84%
    &__scroll-down
      display: none
    &__button
      display: block
      max-width: 339px
      width: 100%
      padding: 19px 68px
      margin-bottom: 26px
      font-size: 13px
      line-height: 15px
      font-weight: 500
  .projects
    padding-top: 38px
    padding-bottom: 0
    background: $mobile-bg
    &__col-50
      padding-left: 4px
  .swiper
    &-wrapper
      margin-bottom: 23px
    &-slide
      &__text
        flex-basis: 47%
        padding-bottom: 3px
        margin-bottom: 28px
      &__heading
        margin-top: 0
        margin-bottom: 10px
        font-size: 14px
        line-height: 138.6%
      &__value
        font-size: 14px
        line-height: 135.84%
      &__image
        height: 200px
  .control
    padding-top: 25px
    padding-bottom: 0
    background: $mobile-bg
    &__section
      &-title
        margin-top: 0
        margin-bottom: 42px
    &__video
      max-width: 340px
      min-height: 207px
      background: $dark url('../img/video-sm.jpg') center no-repeat
    &__text
      max-width: 340px
      margin-bottom: 30px
      &::before
        margin-bottom: 18px
    &__form
      position: relative
      margin-left: 2px
      align-items: start
    &__input
      padding-bottom: 4px
      font-size: 18px
      line-height: 138.72%
      color: $white
    &__input
      &-group
        width: 100%
        margin-bottom: 62px
        &:last-of-type
          margin-bottom: 12px
      //&--last
       // margin-bottom: 12px
    &__policy
      margin-bottom: 88px
    &__button
      position: absolute
      bottom: -26px
      max-width: 340px
      width: 100%
      padding: 18px 130px
      font-weight: 500
      font-size: 16px
      line-height: 16px
  .video
    &__play
      width: 19%
  .types
    padding-top: 77px
    &__section
      &-title
        margin-top: 0
        margin-bottom: 35px
    &__card
      margin-bottom: 72px
      &-text
        max-width: 270px
        width: 100%
        margin-top: -142px
        padding: 21px 41px 20px 31px
      &-title
        font-size: 15px
        line-height: 138.6%
        margin-bottom: 6px
      &-list
        font-size: 13px
        line-height: 170.8%
        margin-bottom: 27px
      &-pricetag
        min-width: 190px
        padding: 10px 19px
        font-size: 16px
        line-height: 138.6%
        font-weight: 500
        padding-left: 44px
  .design
    background: $mobile-bg
    color: $white
    &__section
      &-title
        margin-bottom: 0
    &__section
      &-text
        max-width: 306px
        margin-top: 18px
        font-size: 15px
        line-height: 135.84%
    &__card
      margin-bottom: 76px
      &:nth-of-type(1)
        margin-bottom: 86px
      &-text
        max-width: 270px
        width: 100%
        margin-top: -142px
        padding: 21px 41px 20px 31px
      &-title
        font-size: 15px
        line-height: 138.6%
        margin-bottom: 6px
      &-list
        font-size: 13px
        line-height: 170.8%
        margin-bottom: 27px
      &-pricetag
        min-width: 190px
        padding: 10px 19px
        font-size: 16px
        line-height: 138.6%
        font-weight: 500
        padding-left: 44px
  .steps
    display: none
  .team
    background: $mobile-bg
    &__section
      &-title
        margin-bottom: 82px
        font-size: 22px
        line-height: 138.6%
        color: $white
      &-text
        padding-top: 20px
        max-width: 340px
        font-size: 15px
        line-height: 135.84%
        color: $white
    &__card
      margin-bottom: 129px
      margin-left: 35px
      &-image
        //width: 304px
        //height: 358px
      &-text
        margin-top: -81px
        min-width: 233px
      &-title
        font-size: 18px
        line-height: 25px
      &-subtitle
        margin-bottom: 25px
      &-pricetag
        min-width: 233px
        bottom: -39px
        padding: 13px 23px
      &--second
        margin-bottom: 47px
    &__text
      display: none
  .clients
    display: none
  .footer
    background: $mobile-bg
    &::before
      display: none
    &__wrap
      background: $mobile-bg
      margin-bottom: 48px
    &__form
      margin-left: 5px
    &__button
      max-width: 340px
      width: 100%
      padding: 19px 102px
      font-weight: 500
      font-size: 15px
      line-height: 16px
    &__policy
      margin-left: 0
    &__subtitle
      max-width: 334px
      font-size: 18px
      line-height: 138.6%
    &__socials
      margin-bottom: 38px
      &-image
        width: 39px
        height: 39px
        margin-right: 7px
        margin-left: 11px
    &__menu
      display: none
    &__map
      max-width: 100%
      min-height: 255px
      margin-bottom: 42px
      order: -1
  .policy
    &__label
      &--center
        justify-content: start
  .col-50
    width: 100%
  .button
    &-up
      width: 39px
      height: 39px
      margin-right: 50px
      border: 3px solid $primary
      box-shadow: 0px 5px 15px rgba($primary, 0.3)
      background: transparent url('../img/arrow-down.svg') no-repeat center / 1.5rem
  .modal
    &__dialog  
      background: $dark
      padding: 36px 20px 20px
    &__title
      max-width: 270px
      margin-bottom: 17px
      font-size: 16px
      line-height: 25.998px
    &__input
      &-group
        margin-bottom: 22px
    &__button
      align-self: center
      max-width: 320px
      width: 100%
      font-size: 14px
    &-thanks
      &__image
        width: 65px
        height: 65px
        margin-bottom: 17px
        background: url('../img/checked.svg') no-repeat center / 25px
      &__title
        max-width: 310px
        text-align: center






@media screen and ( max-height: 580px )  
  .hero
    &__scroll-down
      display: none
  