.clients
  &__section
    &-title
      margin-bottom: 2.786rem
    &-text
      max-width: 25.714rem
      margin: auto
      margin-top: 1.357rem
  &__card
    margin-bottom: 27.5rem
    &-text
      padding: 3.286rem 0 4.5rem 2.143rem
    &-title
      position: relative
      max-width: 14.071rem
      margin: auto
      margin-bottom: 2rem
      padding-left: 0.786rem
      line-height: 1.643rem
      color: $secondary-100
      &::before
        content: ''
        position: absolute
        top: -14px
        left: -84px
        width: 76px
        height: 76px
        border-radius: 50%
        background: url('../img/clients/client-1.jpg') no-repeat center
      &--one
        &::before
          background: url('../img/clients/client-2.jpg') no-repeat center
      &--two
        &::before
          background: url('../img/clients/client-3.jpg') no-repeat center
    &-description
      max-width: 23.143rem
      margin-top: 2.214rem
      font-family: 'Futura Book', sans-serif
      font-size: 1.071rem
      line-height: 180%
      color: $secondary
    &-pricetag
      position: relative
      margin-right: -2px
      padding: 1.214rem 1.214rem 1.214rem 4.643rem
      font-size: 1.214rem
      line-height: 1.714rem
      &::before
        content: ''
        position: absolute
        top: 11px
        left: 18px
        width: 32px
        height: 32px
        background: url('../img/clients/size.svg') no-repeat center
      &--another
        padding: 1.214rem 1.714rem 1.214rem 4.643rem
        text-transform: none
        &::before
          background: url('../img/clients/calendar.svg') no-repeat center
.pricetags
  margin-top: -1.429rem
  margin-left: 0.714rem