.section
  &-text
    display: flex
    align-items: center
    justify-content: center
.design
  &__section-title
    margin-bottom: 1.714rem
    font-size: 0.929rem
    line-height: 2.143rem
  &__section-text
    margin-bottom: 2.86rem
    max-width: 52.929rem
    font-family: 'Futura Book', sans-serif
    font-size: 1.429rem
    line-height: 1.929rem
    text-transform: none
    text-align: center
.card
  &__pricetag
    &--align
      padding-left: 32px
      text-align: left
