.header 
  background-color: $dark
  padding: 24px 0
.menu
  display: flex
  justify-content: space-between
  align-items: center
.logo
  color: $primary
  text-transform: uppercase
.navigation
  display: flex
  justify-content: center
  align-items: center
  &__item
    margin-right: 23px
    color: $white
    text-decoration: none
    text-transform: uppercase
.phone
  color: $primary
.contacts
  &__phone
    margin-right: 45px
    
