.types
  &__section-title
    margin-bottom: 2.3rem
    font-size: 13px
    line-height: 2.143rem
.row
  display: flex
  justify-content: space-between
  align-items: flex-start
.col
  flex-basis: 32%
.card
  &__text
    position: relative
    max-width: 23.571rem
    margin: 0 auto
    margin-top: -9.2rem
    padding: 1.586rem 2.143rem
    background-color: $white
    box-shadow: 10px 10px 20px rgba($dark, 0.03)
  &__title
    margin: 0
    margin-bottom: 0.319rem
    font-family: 'Yeseva One', cursive
    font-size: 1.286rem
    line-height: 1.986rem
    color: $dark
  &__list
    padding: 0 0 0 1rem
    margin: 0
    margin-bottom: 3.5rem
    font-size: 1.071rem
    line-height: 1.786rem
    color: $secondary
  &__item
    padding-left: 
  &__pricetag
    position: absolute
    left: 0
    bottom: -1.214rem
    padding: 1.144rem 2.6rem
    font-family: 'Yeseva One', cursive
    font-size: 1.286rem
    line-height: 1.786rem
    text-transform: uppercase
    color: $white
    background-color: $primary

